.button {
    -fx-background-color: rgba(230, 106, 38, .3);
    -fx-background-radius: 5px;

    -fx-border-color: rgba(232, 106, 38, 1);
    -fx-border-radius: 5px;

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(232, 106, 38, 1);
}

.button:hover {
    -fx-background-color: rgba(232, 106, 38, 1);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field {
    -fx-prompt-text-fill: grey;
    -fx-text-fill: rgba(232, 106, 38, 1);
}

.text-field:hover {
    -fx-prompt-text-fill: grey;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(232, 106, 38, 1);
}

.text-area {
    -fx-prompt-text-fill: grey;
    -fx-font-size: 18px;
    -fx-text-fill: rgba(232, 106, 38, 1);
}

.text-area:hover {
    -fx-prompt-text-fill: grey;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(232, 106, 38, 1);
}

#inventory {
    -fx-background-color: rgba(255, 69, 0, .3);
    -fx-background-radius: 5px;

    -fx-border-color: orangered;
    -fx-border-radius: 5px;

    -fx-font-weight: bold;
    -fx-text-fill: orangered;
}

#inventory:hover {
    -fx-background-color: orangered;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}